<!doctype html>
<html lang="en">
    <body>
      {% include "header.html" %}
      <button class="button-style" onClick="location.href='/download-new'">Download New Podcasts</button>
      <button class="button-style" onClick="openDialog()">Add New Podcasts</button>
	  <button class="button-style" onClick="openRemove()">Remove Podcasts</button>
	  <button class="button-style" onClick="location.href='/opml-export'">OPML Export</button>
	  <button class="button-style" onClick="openImport()">OPML Import</button>
	  <dialog id="opml-import-popup">
		<form method="POST" action="/opml-import" enctype="multipart/form-data">
			<input type="file" name="uploaded_opml_file">
			<br>
			<button onClick="closeImport()">Submit</button>
	  	</form>
	  </dialog>
      <dialog id="podcast-popup">
		<form action="/new-source" method="POST">
	 		<label for="podcast-rss-entry">Enter RSS URL:</label>
	  		<input type="text" id="podcast-rss-entry" name="podcast-rss-entry">
	  		<br>
	  		<button onClick="closeDialog()">Submit</button>
		</form>
      </dialog>
	  <dialog id="removal-popup">
		<form action="/remove-source" method="POST">
		<label for="podcast-source-removal">Select Podcast To Remove</label>
			<select for="podcast-source-removal" name="podcast-source-removal">
				{% for podcast in meta_dict %} 
				<option value="{{ podcast.title }}">{{ podcast.title }}</option>
				{% endfor %}
			</select>
			<br>
			<button onClick="closeRemove()">Submit</button>
			<button onClick="closeRemove()">Close</button>
		</form>
	</dialog>
    <div class="home-grid">
	{% for podcast in meta_dict %}
	<div class="home-grid-item">
	  <img class="podcast-image" src="{{ podcast.image }}">
	  <p class="podcast-title"><a href="podcasts?podcast={{ podcast.title }}">{{ podcast.title }}</a></p>
	</div>
	{% endfor %}
      </div>
    </body>
    <script>
    function openDialog() {
	var dialog = document.getElementById("podcast-popup");
	dialog.showModal();
    }

    function closeDialog() {
	var dialog = document.getElementById("podcast-popup");
	dialog.close(); 
	}

	function openRemove() {
		var dialog = document.getElementById("removal-popup");
		dialog.showModal();
	}

	function closeRemove() {
		var dialog = document.getElementById("removal-popup");
		dialog.close()
	}

	function openImport() {
		var dialog = document.getElementById("opml-import-popup")
		dialog.showModal()
	}
	function closeImport() {
		var dialog = document.getElementById("opml-import-popup")
		dialog.showModal()
	}

    </script>
</html>
