<!doctype html>
<html lang="en">
    <body>
      {% include "header.html" %}
      <div class="media-player-container">
	<div id="amplitude-player">
	  <div id="amplitude-left">
	    <img data-amplitude-song-info="cover_art_url" class="album-art"/>
	    <div class="amplitude-visualitzation" id="large-visualization">
	    </div>
	    <div id="player-left-bottom">
	      <div id="time-container">
		<span class="current-time">
		  <span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span>
		</span>
	      </div>
	      <div id="progress-container">
		<div class="amplitude-wave-form">
		</div>
		<input type="range" class="amplitude-song-slider"/>
		<progress id="song-played-progress" class="amplitude-song-played-progress">
		</progress>
		<progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0">
		</progress>
	      </div>
	  </div>
	</div>
      </div>
      <script>
          Amplitude.init({
	  songs: [
	    {% for podcast in podcasts %}
	    {
	      "name": "{{ podcast[2] }}",
	      "artist": "{{ podcast[0] }}",
	      "album": "{{ podcast[0] }}",
	      "url": "{{ podcast[1]}}",
	      "cover_art_url": "{{ podcast[4] }}"
	    }{% if not loop.last %},{% endif %}
	    {% endfor %}
	  ]
	  });
	</script>
    </body>
</html>
